{% extends 'base.html' %}
{% block content %}
  <div id='oopss'>
    <div id='error-text'>
        <img src="{{url_for('static',filename ='img/mes_bebes.jpg')}}" alt="404">
        <span>404 PAGE</span>
        <p class="p-a">
           . The page you were looking for could not be found</p>
        <p class="p-b">
        <p><a href="{{url_for('index')}}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">go to home page</a></p>
    </div>
</div>
{% endblock %}



