{% extends 'base.html' %}

{% block content %}
{% if name is none %}

<form action="/name" method="POST" class="row g-3">
    <div class="col-auto">
        {{form.hidden_tag()}}
        <div class="col-auto">
            {{ form.name.label(class="form-label")}}
            <p>{{ form.name(class="form-control",type="text")}}</p>
        </div>
        <div class="col-auto">
            {{ form.submit(type="submit",class="btn btn-secondary") }}
        </div>
    </div>
</form>

{% else %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}


<h1>Hi {{ name }}</h1>


{% endif %}

{% endblock %}
